.jumbotron-bg .casualties {
	width:319px !important;
}
.casualties h2 {
	margin-top: 50px;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  background: #ffffff;
  font-size: 30px;
}