.jumbotron-bg .about {
	width:295px  !important;
}
.aboutus h2 {
	margin-top: 50px;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  background: #ffffff;
  font-size: 30px;
}
.subheading {
  font-size: 26px;
  line-height: 40px;
  position: relative;
  width: 856px;
  text-align: center;
  left: 50%;
  margin-left: -428px;
  margin-bottom: 75px;
}
#map-canvas {
  padding: 0;
  width: 100%;
  height: 400px;
  margin: 30px 0;
}

.aboutus > div > h5 {
	text-align: center;
}