// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

.login-container {
  width: 100%;
  height: 100%;
  background-color: #f5f7fa;
}
.panel-session {
	width: 300px;
	margin: 0 auto;
}
.panel-dark {
  border-color: #cfdbe2;
}
.panel-flat {
  margin: 0 auto;
  margin-top: 100px;
  border: 0;
}
.panel-dark>.panel-heading {
  color: #fff;
  background-color: #3a3f51;
  border-color: #3a3f51;
}
.panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
}
.panel .panel-heading a {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.panel .panel-heading a:hover, .panel .panel-heading a:active, , .panel .panel-heading a:focus{
  text-decoration: none;
}
.pv {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
.pt-lg {
  padding-top: 15px!important;
}
.mt-lg {
  margin-top: 15px!important;
}
.btn {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: 0!important;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}