<div id="footer" class="container">
	<div class="content-list">
		<ul class="columns">
			<li class="column">
				<strong>Empresa</strong>
				<span>487 Circuito colonias<br>Mérida, Yucatán 99999</span>
			</li>
			<li class="column expand">
				<strong>Contacto</strong>
				<span>(999) 227-2100</span>
				<a href="mailto:info@peniche.com">info@peniche.com</a>
			</li>
			<li class="column">
				<strong>Encuentranos</strong>
				<ul class="socials">
					<li class="social twitter">
						<a href="http://twitter.com/" target="_blank">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="social facebook">
						<a href="http://www.facebook.com/" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="copyright">©2015 Peniche. Todos los derechos reservados. Diseño y Desarrollo por <a href="http://www.yellowme.mx/" target="_blank">YellowMe</a>.</div>
	</div>
</div>