<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  	<li class="list-header">Navigation</li>
    <li class="active">
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Dashboard</strong>
				</span>
			</a>
    </li>
    <li>
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Productos</strong>
				</span>
			</a>
		</li>
    <li>
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Analytics</strong>
				</span>
			</a>
		</li>
    <li>
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Export</strong>
				</span>
			</a>
		</li>
  </ul>
  <ul class="nav nav-sidebar">
  	<li class="list-header">Components</li>
    <li class="active">
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Dashboard</strong>
				</span>
			</a>
    </li>
    <li>
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Productos</strong>
				</span>
			</a>
		</li>
    <li>
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Analytics</strong>
				</span>
			</a>
		</li>
    <li>
    	<a href="#">
				<i class="fa fa-dashboard"></i>
				<span class="menu-title">
					<strong>Export</strong>
				</span>
			</a>
		</li>
  </ul>
  <ul class="nav nav-sidebar nav-sidebar-bottom">
    <li>
    	<a href="#">
    		<span>by</span>
				<img src="assets/images/yellowme.png" alt="Yellowme" class="author-icon">
			</a>
    </li>
  </ul>
</div>
