.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}
.product {
  height: 420px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
}
.product .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.product .image img {
  transition: opacity .3s ease-out;
  height: 100%;
  position: absolute;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
}
.product-info {
  max-width: 140px;
  color: rgba(0, 0, 0, 0.39);
  position: absolute;
  top: 14px;
  left: 24px;
  text-align: left;
  font-size: 16px;
  z-index: 2;
}
.price {
  font-size: 33px;
  font-weight: 300;
  margin-bottom: 20px;
  font-style: normal;
  display: block;
}
.price .number {
  font-weight: 300;
}
.currency {
  font-weight: 400;
  margin-right: 5px;
  font-style: normal;
  font-size: 13px;
  display: inline-block;
  margin-top: 9px;
  vertical-align: top;
}