.jumbotron-bg .insurance {
	width:270px  !important;
}
.insurance h2 {
	margin-top: 50px;
  width: 100%;
  display: block;
  text-align: center;
  overflow: hidden;
  background: #ffffff;
  font-size: 30px;
}
.insurance > div > h5 {
	text-align: center;
}