.widget .panel, .widget.panel {
  overflow: hidden;
}
.bg-info-light {
  background-color: #51c6ea;
  color: #fff!important;
}
.b0 {
  border-width: 0!important;
}
.pt {
  padding-top: 10px!important;
}
.widget {
  margin-bottom: 20px;
  border: 0;
}
.ph {
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.bg-purple-light {
  background-color: #9289ca;
  color: #fff!important;
}